html, body {
    margin: 0;
    padding: 0;

    background: rgb(249, 249, 255);
    
    user-select: none; -webkit-user-select: none; /* DISABLE TEXT SELECTION */
}

button:hover { cursor: pointer; }

/* ########################## */
/* __________START___________ */
#start {
    width: 100%;
    height: 100vh;
    
    background: red;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "sTitle"
        "sStart";
}
#start .header { grid-area: sTitle; }
#start .nextButton { grid-area: sStart; }


/* ########################## */
/* __________PRÜFUNG_________ */
#pruefung {
    width: 95vw;
    height: 98vh;
    margin: auto;
    padding: 5px;
    
    background: rgb(249, 249, 255);
    
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
        "pLogo pTitle"
        "pOverview pQuestion";
}

#pruefung .gridElement {
    border-radius: 5px;
    padding: 3px;
}

#pruefung .logo { grid-area: pLogo; background: blue; }
#pruefung .header { grid-area: pTitle; 
    /* background: yellow; */ 
    text-align: center; 
    font-size: 4vh; 
    padding-top: 2.5%;
}
#pruefung .header h1 { display: inline; position: relative; top: 1vh; }
#pruefung .header button { width: 100px; height: 60%; 
    background: rgb(31, 100, 190); 
    border-width: 0;
    transition: all 100ms;
    font-size: 120%;
}
#pruefung .header button:nth-of-type(1) { transform: scale(-1, 1); }
#pruefung .header button:hover { background: rgb(174, 255, 171); }

#pruefung .overview { grid-area: pOverview; background: rgb(193, 225, 255); overflow-x: hidden; }
#pruefung .overview ol { position: relative; left: -20px; width: 85%; }
#pruefung .overview ol li { color: black; }
#pruefung .overview ol li:hover { transform: scale(1.05, 1); cursor: pointer; }
#pruefung .overview ol li.answered { color: rgb(0, 0, 207); }
#pruefung .overview ol li.selected { border: 2px solid black; }
#pruefung .overview ol li.selected:hover { transform: scale(1, 1); cursor: default; }

#pruefung .question { 
    grid-area: pQuestion; 
    background: rgb(249, 249, 255); 
    padding: 10px;
}
.endButton { /* grid-area: pEnd;  */ 
    background: rgb(86, 233, 56); 
    /* float: right;  */

    width: 250px;
    height: 8vh;
    border-radius: 1vh;
    border-width: 0;
}
.endButton:hover {
    background: rgb(122, 255, 95); 
}
.endButtonWrapper { text-align: center; margin-top: 10vh; }
.endButtonWrapper .endDescription {
    margin-bottom: 8vh;
    font-size: 130%;
}

#auswertungsPsw {
    margin: 1vh;
}
#auswertungsPsw.wrong {
    border: 2px solid red;
}

/* ########################## */
/* ________AUSWERTUNG________ */
#auswertung {
    width: 100%;
    height: 100vh;

    background: yellow;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "aTitle"
        "aStart"
}
#auswertung .header { grid-area: aTitle; }
#auswertung .nextButton { grid-area: aStart; }


.wrapper { display: block; }

.hidden { display: none; }
.invisible { opacity: 0; }
.invisible:hover { cursor: default; }
