html, body {
    margin: 0;
    padding: 0;

    background: rgb(249, 249, 255);
    
    user-select: none; -webkit-user-select: none; /* DISABLE TEXT SELECTION */
}

button:hover { cursor: pointer; }

/* ########################## */
/* __________START___________ */
#start {
    width: 100%;
    height: 100vh;
    
    background: red;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "sTitle"
        "sStart";
}
#start .header { grid-area: sTitle; }
#start .nextButton { grid-area: sStart; }


/* ########################## */
/* __________PRÜFUNG_________ */
#pruefung {
    width: 95vw;
    height: 98vh;
    margin: auto;
    padding: 5px;
    
    background: rgb(249, 249, 255);
    
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
        "pLogo pTitle"
        "pOverview pQuestion";
}

#pruefung .gridElement {
    border-radius: 5px;
    padding: 3px;
}

#pruefung .logo { grid-area: pLogo; background: blue; }
#pruefung .header { grid-area: pTitle; 
    /* background: yellow; */ 
    text-align: center; 
    font-size: 4vh; 
    padding-top: 2.5%;
}
#pruefung .header h1 { display: inline; position: relative; top: 1vh; }
#pruefung .header button { width: 100px; height: 60%; 
    background: rgb(31, 100, 190); 
    border-width: 0;
    transition: all 100ms;
    font-size: 120%;
}
#pruefung .header button:nth-of-type(1) { transform: scale(-1, 1); }
#pruefung .header button:hover { background: rgb(174, 255, 171); }

#pruefung .overview { grid-area: pOverview; background: rgb(193, 225, 255); overflow-x: hidden; }
#pruefung .overview ol { position: relative; left: -20px; width: 85%; }
#pruefung .overview ol li { color: black; }
#pruefung .overview ol li:hover { transform: scale(1.05, 1); cursor: pointer; }
#pruefung .overview ol li.answered { color: rgb(0, 0, 207); }
#pruefung .overview ol li.selected { border: 2px solid black; }
#pruefung .overview ol li.selected:hover { transform: scale(1, 1); cursor: default; }

#pruefung .question { 
    grid-area: pQuestion; 
    background: rgb(249, 249, 255); 
    padding: 10px;
}
.endButton { /* grid-area: pEnd;  */ 
    background: rgb(86, 233, 56); 
    /* float: right;  */

    width: 250px;
    height: 8vh;
    border-radius: 1vh;
    border-width: 0;
}
.endButton:hover {
    background: rgb(122, 255, 95); 
}
.endButtonWrapper { text-align: center; margin-top: 10vh; }
.endButtonWrapper .answeredQuestions { font-size: 300%; margin-bottom: 4vh; color: red; }
.endButtonWrapper .answeredQuestions.alldone { color: green; }
.endButtonWrapper .endDescription {
    margin-bottom: 8vh;
    font-size: 130%;
}

#auswertungsPsw {
    margin: 1vh;
}
#auswertungsPsw.wrong {
    border: 2px solid red;
}

/* ########################## */
/* ________AUSWERTUNG________ */
#auswertung {
    width: 100%;
    /* height: 100vh; */

    background: rgb(249, 249, 255);;

}
#auswertung .header { 
    height: 4rem;

    border-bottom: 3px solid black;
    margin-bottom: 1rem;
    font-size: 130%;
    padding-left: 1rem;
    position: relative;
    top: -1rem;
}
#auswertung .aQuests { 
    grid-area: aQuests;
    background: #565dbb;
    border-radius: 1rem;
    width: 100%;
    border-bottom: 3px solid black;
    border-top: 2px solid black;

    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
#auswertung .aQuests .aQuestWrapper {
    display: block;
    min-height: 2.5rem;
    width: 99%;
    margin: 0.25rem;
    border: 2px groove black;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
    grid-template-rows: 100%;
}

#auswertung .aAnswer { color: red; }
#auswertung .aAnswer.right { color: rgb(45, 255, 45); }
#auswertung .aTrue { color: rgb(45, 255, 45); }
#auswertung .aRight { color: red; }
#auswertung .aRight.right { color: rgb(45, 255, 45); }


#auswertung .aFinal { 
    height: 4rem;
    font-size: 2rem;

    display: grid;
    grid-template-columns: 80% 20%;
    text-align: center;
}
#auswertung .aFinal .evaluation { margin: 1rem; }
#auswertung .aFinal .result { color: red; margin: 1rem; font-weight: bolder; }
#auswertung .aFinal .result.right { color: green; }


#auswertung .mainMenuButton {
    background: rgb(86, 233, 56);
    margin-left: 20%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 60%;
    height: 3rem;

    border-radius: 1vh;
    border-width: 0;
}
#auswertung .mainMenuButton:hover {
    background: rgb(122, 255, 95); 
}



/* ########################## */
/* __________GENERAL_________ */

.wrapper { display: block; }

.hidden { display: none; }
.invisible { opacity: 0; }
.invisible:hover { cursor: default; }



/* AWESOME RADIO BUTTONS */
input[type=radio   ]:not(old){
    width       : 2em;
    margin      : 0;
    padding     : 0;
    font-size   : 1em;
    opacity     : 0;
}
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}
input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(77, 97, 153);
  border-radius    : 0.125em;
  background       : rgb(102, 121, 204);
  background-image :    -moz-linear-gradient(rgb(140, 164, 217),rgb(102, 138, 204));
  background-image :     -ms-linear-gradient(rgb(140, 164, 217),rgb(102, 138, 204));
  background-image :      -o-linear-gradient(rgb(140, 164, 217),rgb(102, 138, 204));
  background-image : -webkit-linear-gradient(rgb(140, 164, 217),rgb(102, 138, 204));
  background-image :         linear-gradient(rgb(140, 164, 217),rgb(102, 138, 204));
}